<h1><%= pageTitle%></h1>
<div class="main">
    <div class="main-content">
        <div class="page-title">
            <h2>This is index page main content</h2>
        </div>
        <div class="page-content">
            <div class="article-list">
                <%= articleList%>
            </div>
            <p><a href="article/list.html">更多</a></p>
        </div>
    </div>
</div>